p{
    font-family: Montserrat;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}


.title{
    font-weight: bold;
    font-size: 35px;
}

.text{
    margin-top: 10px;
}

.touchless-delivery{
    text-decoration: underline;

}